<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Page</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>

    <link rel="stylesheet" href="style.css">
</head>
<body>
        <!-- Nav Bar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href=""><img src="/muscleology/flask_app/static/images/blue-gold.jpg" class="rounded rounded-circle"alt="Muscleology logo" width="50" height="50"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="about.html">Who We Are</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact Us</a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- Nav Bar -->


    <section class=" text-sm-center">
        <img src="/muscleology/flask_app/static/images/blue-gold.jpg" class = "img-thumbnail" alt="Muscleology logo" width="200" height="200">        
    </section>


    <div class="text-center">
        <h3>Location & Hours</h3>
        <br>
        <h4>Muscleology</h4>
        <h6>14189 Foothill Blvd, Suite 106</h6>
        <h6>Fontana, California 92335</h6>
        <h7><a href="tel:909525-0598">(909) 525-0598</a></h7> <br>
        <h7><a href="mailto:muscleologymt@gmail.com">muscleologymt@gmail.com</a></h7> <br>
        <h7><a href="https://www.google.com/maps/dir//14189+Foothill+Blvd+STE+106,+Fontana,+CA+92335/@34.105973,-117.4955173,17z/data=!4m9!4m8!1m0!1m5!1m1!1s0x80c34bb6689a8bf3:0x6b1fd14f152eac99!2m2!1d-117.4955173!2d34.105973!3e0"> Get Directions</a></h7>
    </div>
    <section id = "map">
        <iframe width="100%" height="450" style="border:0" loading="lazy" allowfullscreen src="https://www.google.com/maps/embed/v1/place?q=place_id:EjUxNDE4OSBGb290aGlsbCBCbHZkIHN1aXRlIDEwNiwgRm9udGFuYSwgQ0EgOTIzMzUsIFVTQSJAGj4KMRIvChQKEgllkyBHtkvDgBHVQ3a_QPQ1pRDtbioUChIJO8rgBZZLw4AR3UYj1ExEis4SCXN1aXRlIDEwNg&key=AIzaSyCPSe7u8zDqEg11z9BsCfMbikut3blHAkU"></iframe>
    </section>

</body>
</html>